a {
	text-decoration: none;
	color: white;
	font-family: 'VT323', monospace;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #101010;
	padding: 0;
	height: 100%;
	width: 100%;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;	
}
hr {
	margin: 0 94% 0 0;
	border-top: 2px solid #fff;
}
p {
	font-family: 'Cutive Mono', monospace;
	font-size: 1.4em;
	color: white;
	text-align: left;
	text-shadow: 1px 1px #000;
	margin: 0;
}
ul {
	padding: 0;
	text-align: center;
}

/* Classes */
.banner {
	height: 100%;
	width: 100%;
	border-bottom: 5px solid #060606;
	border-top: 5px solid #060606;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../img/banner.jpg");
}
.butt {
    background-color: rgb(103, 182, 105);
    border: 1px solid green;
    color: white;
    padding: 12px 22px;
    text-align: center;
	text-decoration: none;
	border-radius: 5%;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
	cursor: pointer;
}
.butt-red {
    background-color: rgb(182, 103, 103);
    border: 1px solid red;
    color: white;
    padding: 12px 22px;
    text-align: center;
	text-decoration: none;
	border-radius: 5%;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
	cursor: pointer;
}
.category {
	margin-bottom: 70px;
}
.centertext {
	text-align: center;
}
.content {
	background-color: #060606;
	padding: 60px 350px;
}
.project-image {
	width: 500px;
	border-radius: 5%;
	margin: 25px;
}
.team {
	background-color: #101010;
	text-align: center;
}
.project {
	background-color: #101010;
	text-align: center;
	padding: 60px 350px;
}
.the-team {
	width: 100px;
	height: 100px;
	margin: 0 10px 30px 10px;;
	border-radius: 15%;
	cursor: pointer;
}

/* ID */
#foot {
	background-color: #060606;
}
#foot-text {
	padding: 10px;
	margin: 0;
	font-family: 'VT323', monospace;
}
#info-title {
	font-size: 32px;
	font-family: 'Cutive Mono', monospace;
	font-weight: bold;
}
#subtitle {
	font-size: 40px;
	margin: -19.5% 0 26% 5%;
	text-align: left;
	font-family: 'VT323', monospace;
}
#project-line {
	margin: 40px 20%;
}
#team-title {
	font-size: 32px;
	font-family: 'Cutive Mono', monospace;
	font-weight: bold;
	text-align: center;
	padding-top: 60px;
}
#project-title {
	font-size: 32px;
	font-family: 'Cutive Mono', monospace;
	font-weight: bold;
	text-align: center;
}
#team-line {
	margin: 0 45% 30px 45%;
}
#title {
	font-size: 100px;
	margin: 10% 0 20% 5%;
	text-align: left;
	font-family: 'VT323', monospace;
}
#titlehr {
	margin: -19.5% 90% 20% 5%;
}

/* Loader */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loader.gif) center no-repeat #fff;
	background-color: #101010;
}

/* Member Bios */
#bio-cont {
	display: none;
	text-align: center;
	border-top: 10px solid #333;
	background-color: #060606;
}
/* The code below isn't needed anymore.
#arando-cont, #demi-cont, #embargo-cont, #zwei-cont {
	background-image: url("../img/back.png");
	padding: 10px;
}
#brando-cont, #dizi-cont, #worl-cont {
	background-image: url("../img/backplus.png");
}
#zwei-cont {
	border-bottom: 10px solid #333;
}
*/
.links {
	color: #808080;
	font-family: 'Cutive Mono', monospace;
}
.name {
	font-size: 30px;
	font-weight: bold;
}
.spacing {
	padding: 20px;
}

/* Projects */
.notstarted {
	color: red;
}
.inprogress {
	color: yellow;
}
.complete {
	color: lime;
}

/* Animations */
.grow {
	transition: all .2s ease-in-out;
}
.grow:hover {
	transform: scale(1.05);
}