a {
    text-decoration: none;
    color: unset;
}
body {
	margin: 0; padding: 0;
    font-family: 'Cantarell', sans-serif;
    height: 100%; width: 100%;
    background: #424242;
    background-size: contain;
}
h1 {
    margin: 0;
}
h2 {
    font-size: 20px;
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 1px #000;
}
hr {
    margin: 5px 0 -10px 0;
    border: 1px solid #fff;
}
html {
	height: 100%;
}
p {
    font-family: 'Cantarell', sans-serif;
    font-size: 0.76em;
    color: #fff;
    margin: 0;
}

/* General Classes */
.container {
    display: none;
    height: 100%;
    text-align: center; 
    font-size: 0;
}
.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.inline {
    display: inline-block; vertical-align: top;
    width: 500px;
    height: 600px;
    margin: 0 10px;
    font-size: 0;
}
.holder {
    width: 500px; height: 295px;
    margin-bottom: 10px;
}


/* Welcome */
.welcome {
    width: 100%; height: 100%;
    background: #141414;
}
.login {
    display: block;
    margin: 0 auto;
    width: 400px; height: 300px;
    text-align: center;

}
.loginAvi {
    width: 120px; height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #676767;
    background-size: cover;
    background-image: url('../img/avi.jpg');
}
.loginName {
    font-size: 32px;
    text-align: center;
    text-shadow: none;
    margin: 10px 0 20px 0;
}
.loginField {
    width: 300px; height: 25px;
    background-color: #fff;
    margin: 0 auto 5px;
    border-radius: 25px;
    animation: fade 0.1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.loginText {
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    color: #000;
}
.loginForgot {
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    text-shadow: none;
    animation: fade 0.1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


/* Window CSS */
.meWindow {
    width: 490px; height: 590px;
    vertical-align: top;
    border: 5px solid #676767;
    background-color: #141414;
    box-shadow: 2px 2px 10px #000;
}
.splitWindow {
    width: 490px; height: 285px;
    vertical-align: top;
    margin-bottom: 10px;
    border: 5px solid #676767;
    background-color: #141414;
    box-shadow: 2px 2px 10px #000;
}

.windowBar {
    width: 100%; height: 25px;
    font-size: 0;
    background-color: #252525;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.barSplit {
    width: 50%; height: 100%;
    display: inline-block;
    vertical-align: top;
}
.barSplit.left {
    text-align: left;
}
.barSplit.right {
    text-align: right;
}

.windowTitle {
    font-size: 14px;
    vertical-align: middle;
    line-height: 25px;
    padding: 0 0 0 25px;
}
.windowButton {
    width: 12px; height: 12px;
    margin: 6px;
    display: inline-block;
    background: #676767;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.windowButton.red:hover {
    background: #ff0000;
}
.windowButton.yellow:hover {
    background: #ffff00;
}
.windowButton.green:hover {
    background: #00ff00;
}
.windowBar.me {
    background-image: url('../img/taskbar/me.png');
}
.windowBar.pro {
    background-image: url('../img/taskbar/project.png');
}
.windowBar.so {
    background-image: url('../img/taskbar/social.png');
}

/* Taskbar */
.taskbarContainer {
    width: 900px; height: 40px;
    position: absolute;
    display: none;
    text-align: center;
    font-size: 0;
    bottom:0;
    right:25%;
    left:50%;
    margin-left: -460px;
    padding: 10px;
}
.taskbarButton {
    width: 40px; height: 40px;
    display: inline-block;
    background-color: #303030;
    background-size: contain;
    margin: 0 10px;
    cursor: pointer;
}
.active {
    background-color: #141414;
}

.me1 {
    background-image: url('../img/taskbar/me.png');
}
.pro1 {
    background-image: url('../img/taskbar/project.png');
}
.so1 {
    background-image: url('../img/taskbar/social.png');
}

/* Apps */
.app {
    width: 1010px; height: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #676767;
    background-color: #141414;
    display: none;
    box-shadow: 2px 2px 10px #000;
}

/* Me. */
.meContainer {
    text-align: left;
}
.meHeader {
    background: #101010;
    width: 100%; height: 170px;
    background-image: url('../img/cov.jpg');
    background-size: cover;
}
.meAvatar {
    width: 120px; height: 120px;
    background-image: url('../img/avi.jpg');
    background-size: cover;
    display: inline-block;
    border: 3px solid #676767;
    border-radius: 2px;
    margin: 22px;
    vertical-align: middle;
}
.meName {
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
}
.meSub {
    font-size: 16px;
    font-weight: 100;
}

.meContent {
    padding: 30px 22px;
}
.meBio {
    font-size: 16px;
}


/* Projects. */
.proContainer {
    font-size: 0;    
}
.project {
    width: 33.3333%; height: 130px;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}
.projectText {
    font-size: 16px;
    line-height: 130px;
    vertical-align: middle;
    text-shadow: 1px 1px 1px #000;
    opacity: 0;
    transition: 0.2s;
}
.projectText:hover {
    opacity: 1;
}


/* Social */
.social {
    width: 25%; height: 260px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    transition: 0.5s;
}

.twitter {
    background-color: #303030;
    background-image: url('../img/social/twitter.png');
}
.twitter:hover {
    background-color: #1da1f2;
}

.youtube {
    background-color: transparent;
    background-image: url('../img/social/yt.png');
}
.youtube:hover {
    background-color: #fe0000;
}

.github {
    background-color: #303030;
    background-image: url('../img/social/github.png');
}
.github:hover {
    background-color: #3e5b42;
}

.flickr {
    background-color: transparent;
    background-image: url('../img/social/flickr.png');
}
.flickr:hover {
    background-color: #bd0061;
}

/* Full Screen */
/* Me */
.meContainer-full {
    text-align: center;
}
.meProfile-full {
    width: 1010px; height: 275px;
    background-size: cover;
    background-position: right;
    background-image: url('../img/cov.jpg');
}
.meAvatar-full {
    width: 120px; height: 120px;
    background-image: url('../img/avi.jpg');
    background-size: cover;
    border: 3px solid #676767;
    border-radius: 2px;
    margin: 0 auto;
}
.meName-full {
    font-size: 36px;
    text-align: center;
}

.meContent-full {
    width: 465px; height: 260px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}
.meContent-full.left {
    text-align: right;
}
.meContent-full.right {
    text-align: left;
}
.meBio-full {
    font-size: 24px;
    font-family: 'VT323', monospace;
}

/* Social */
.soContainer-full {
    text-align: center;
}
.social-full {
    width: 25%; height: 287px;
    display: inline-block;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
}
.twitter-full {
    background-color: #303030;
    background-image: url('../img/social/twitter.png');
}
.twitter-full:hover {
    background-color: #1da1f2;
}

.youtube-full {
    background-color: transparent;
    background-image: url('../img/social/yt.png');
}
.youtube-full:hover {
    background-color: #fe0000;
}

.github-full {
    background-color: #303030;
    background-image: url('../img/social/github.png');
}
.github-full:hover {
    background-color: #3e5b42;
}

.flickr-full {
    background-color: transparent;
    background-image: url('../img/social/flickr.png');
}
.flickr-full:hover {
    background-color: #bd0061;
}

.steam-full {
    background-color: transparent;
    background-image: url('../img/social/steam.png');
}
.steam-full:hover {
    background-color: #3f556c;
}

.osu-full {
    background-color: #303030;
    background-image: url('../img/social/osu.png');
}
.osu-full:hover {
    background-color: #f4b342;
}

.ani-full {
    background-color: transparent;
    background-image: url('../img/social/anime.png');
}
.ani-full:hover {
    background-color: #1fbaf7;
}

.mail-full {
    background-color: #303030;
    background-image: url('../img/social/mail.png');
}
.mail-full:hover {
    background-color: #4a465a;
}


/* Project */
.proContainer-full {
    text-align: center;
}
.project-full {
    width: 16.66666%; height: 575px;
    display: inline-block;
    vertical-align: top;
}
.projectImg-full {
    width: 100%; height: 160px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}
.projectImg-full:hover {
    opacity: 0.5s;
}
.projectText-full {
    font-size: 20px;
    font-family: 'VT323', monospace;
    padding: 20px 10px 10px 10px;
}
.projectTitle-full {
    text-shadow: none;
}

/* Typewriter Effect */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 1.5s steps(30, end);
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* From https://loading.io/css/ */
/* CSS Spinner */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    opacity: 0;
    margin-top: -50px;
    animation: fadeIn 0.1s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  
  /* Animations */
@keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* 720p fixes */
@media screen and (max-width: 1400px) {
    .meWindow {
        transform: scale(0.9);
    }
    .splitWindow {
        transform: scale(0.80);
    }
    .inline {
        margin: 0;
    }
    .app {
        height: 525px;
    }
    .meContent-full {
        height: 185px;
    }
    .social-full {
        height: 250px
    }
}